/* Natsu Deguchi */


/*
-----------------------
HTML selectors
-----------------------

*/

body{
    background-color: #457B9D;
    font-family:calibri;
    padding:10px;
    font-size:15px;
}

header {
    background-color:#1D3557;
    color:white;
    font-weight:bold;
    text-align:center;
    padding: 10px;
    font-size: large;
}

footer {
    background-color:#1D3557;
    color:#ffffff;
    padding:5px;
    border-color:#DCDCDC;
    margin: 0 auto;
    padding-left:20px;
    max-width: 800px;
}

img {
    max-width: 100%;
    height: auto;
}

/*  
--------------------------------
CLASS selectors 
--------------------------------
*/
.wrapper {
    max-width: 800px;
    margin: 0 auto;
    background-color:#A8DADC;;
}

.content2{
    background-color:#ffffff;
    color:gray;
    border-style:solid;
    border-color:#E63946;	
    position:relative;
    padding: 20px;
}

.heading1{
    background-color:#1D3557;
    color:#ffffff;
    padding:3px;
    border-color:#DCDCDC;
    margin-left:auto;
    margin-right:auto;
    padding-left:20px;
}

.container {
    display: flex; 
    padding: 20px;
}

.main {
    background: #ffffff;
    width: 60%;
    padding: 20px;
}

.side {
    background:#DCDCDC;
    width: 40%;
    padding:20px;
    padding-left: 50px;
    padding-top: 50px;
}


.slide-container {
    max-width: 250px;
    margin: 0 auto;
    padding: 20px 0;
}

.slide-thumbnails-container {
    display: flex;
    justify-content: space-between;
    width: 170px;
    margin: 0 auto;
}

.form-submit-container {
   
    justify-content: center;
    margin-top: 24px;
}

.form-submit-container input {
    background-color:#457B9D;
    color: white;
    border: none;
    text-transform: uppercase;
    display: block;
    padding: 8px 20px;
    cursor: pointer;
}

.form-submit-container input:disabled {

    background-color: #353535;
}

.space{
    margin-bottom: 15px;
}

/*
--------------------------------
ID selectors 
--------------------------------
*/

